@charset "utf-8";
/* CSS Document */

.navigation {
	height:33px;
	background-image:url(../images/navigation.gif);
	clear:both;
	padding:1px 1px 0
}
.navigation>div {
	border-top:1px solid #4D758F
}
.navigation a {
	color:#FFF;
	outline:none;
	text-decoration:none;
	font-size:1.2em
}
.navigation a.active {
	color:#6FA8C4
}
.navigation a:hover {
	border-bottom:1px dotted #fff
}
.navigation a.rss {
	height:26px;
	float:right;
	outline:none;
	border-right:none;
	padding:3px 10px
}
.blogul {
	margin-top:0!important;
	overflow:hidden
}
.blogul li {
	padding:9px 20px;
	display:block;
	border-right:1px solid #284558;
	float:left;
	border:none
}
.blogul li.rightli {
	margin:0;
	float:right;
	width:30px;
	padding:0;
	border:none
}
.blogul li.rightli a {
	margin:8px 10px 0 0;
	padding:0
}
li.clear {
	width:100px
}
.sf-menu, .sf-menu * {
	margin:0;
	list-style:none;
	padding:0;
	z-index:100!important
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:10em;
	z-index:100
}
.sf-menu ul li {
	width:100%
}
.sf-menu li:hover {
	visibility:inherit;
	cursor:pointer;
}
.sf-menu li {
	float:left;
	position:relative
}
.sf-menu a {
	display:block;
	position:relative
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	z-index:99;
	top:2.5em;
	left:0
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul, ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top:-999em
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul, ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	top:0;
	left:10em
}
.sf-menu {
	float:left
}
.sf-menu li {
	padding:9px 20px 0;
	height:23px;
	display:block;
	border-right:1px solid #284558;
	float:left
}
.sf-menu a {
	color:#FFF;
	outline:none;
	text-decoration:none;
	font-size:1.2em
}
.sf-menu li ul {
	width:200px;
	margin-top:7px;
	z-index:100
}
.sf-menu li ul a {
	display:block;
	padding-left:20px;
	float:left;
	border-right:none;
	border:none;
	background:url('../images/bullet.gif') left no-repeat
}
.sf-menu li ul a:hover {
	background:url('../images/bulletroll.gif') left no-repeat;
	color:#5688a1;
	border:none
}
.sf-menu li li {
	margin:0;
	padding:9px 0 0
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:0
}
a:focus>.sf-sub-indicator, a:hover>.sf-sub-indicator, a:active>.sf-sub-indicator, li:hover>a>.sf-sub-indicator, li.sfHover>a>.sf-sub-indicator, .sf-menu ul .sf-sub-indicator, .sf-menu ul a>.sf-sub-indicator {
	display:none
}
.sf-sub-indicator {
	display:none!important
}
.sf-menu ul a:focus>.sf-sub-indicator, .sf-menu ul a:hover>.sf-sub-indicator, .sf-menu ul a:active>.sf-sub-indicator, .sf-menu ul li:hover>a>.sf-sub-indicator, .sf-menu ul li.sfHover>a>.sf-sub-indicator {
	background-position:-10px 0
}
.sf-shadow ul {
	padding:0 8px 9px 0;
	-webkit-border-bottom-left-radius:17px;
	-webkit-border-top-right-radius:17px;
	-moz-border-radius-bottomleft:17px;
	-moz-border-radius-topright:17px
}
.sf-shadow ul.sf-shadow-off {
	background:transparent
}
.sf-menu li li, .sf-menu li li {
	width:200px;
	background:#021b2a;
	left:-1px;
	border-left:1px solid #324652;
	border-bottom:1px solid #102736;
	position:relative;
	border-right:1px solid #324652
}
.ui-tabs-hide {
	display:none;
}
.preloadimage {
	display: none;
}



/*.sf-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100! important; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sf-menu  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100! important; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sf-menu UL {
	Z-INDEX: 100; WIDTH: 10em; POSITION: absolute; TOP: -999em
}
.sf-menu UL LI {
	WIDTH: 100%
}
.sf-menu LI:hover {
	VISIBILITY: inherit
}
.sf-menu LI {
	FLOAT: left; POSITION: relative
}
.sf-menu A {
	DISPLAY: block; POSITION: relative
}
.sf-menu LI:hover UL {
	Z-INDEX: 99; LEFT: 0px; TOP: 2.5em
}
.sf-menu LI.sfHover UL {
	Z-INDEX: 99; LEFT: 0px; TOP: 2.5em
}
UL.sf-menu LI:hover LI UL {
	TOP: -999em
}
UL.sf-menu LI.sfHover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI:hover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI.sfHover LI UL {
	TOP: -999em
}
UL.sf-menu LI LI:hover UL {
	LEFT: 10em; TOP: 0px
}
UL.sf-menu LI LI.sfHover UL {
	LEFT: 10em; TOP: 0px
}
UL.sf-menu LI LI LI:hover UL {
	LEFT: 10em; TOP: 0px
}
UL.sf-menu LI LI LI.sfHover UL {
	LEFT: 10em; TOP: 0px
}
.sf-menu {
	FLOAT: left
}
.sf-menu LI {
	BORDER-RIGHT: #284558 1px solid; PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; HEIGHT: 23px
}
.sf-menu A {
	FONT-SIZE: 1.2em; COLOR: #fff; TEXT-DECORATION: none; outline: none
}
.sf-menu LI UL {
	MARGIN-TOP: 7px; Z-INDEX: 100; WIDTH: 200px
}
.sf-menu LI UL A {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(../images/bullet.gif) no-repeat left 50%; FLOAT: left; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.sf-menu LI UL A:hover {
	BACKGROUND: url(../images/bulletroll.gif) no-repeat left 50%; COLOR: #5688a1; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.sf-menu LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 9px
}
.sf-menu LI:hover {
	outline: 0
}
.sf-menu LI.sfHover {
	outline: 0
}
.sf-menu A:unknown {
	outline: 0
}
.sf-menu A:hover {
	outline: 0
}
.sf-menu A:active {
	outline: 0
}
UNKNOWN {
	DISPLAY: none
}
.sf-sub-indicator {
	DISPLAY: none! important
}
UNKNOWN {
	BACKGROUND-POSITION: -10px 0px
}
.sf-shadow UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; PADDING-BOTTOM: 9px; PADDING-TOP: 0px; webkit-border-bottom-left-radius: 17px; webkit-border-top-right-radius: 17px; moz-border-radius-bottomleft: 17px; moz-border-radius-topright: 17px
}
.sf-shadow UL.sf-shadow-off {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.sf-menu LI LI {
	BORDER-RIGHT: #324652 1px solid; BACKGROUND: #021b2a; LEFT: -1px; BORDER-LEFT: #324652 1px solid; WIDTH: 200px; BORDER-BOTTOM: #102736 1px solid; POSITION: relative
}
.sf-menu LI LI {
	BORDER-RIGHT: #324652 1px solid; BACKGROUND: #021b2a; LEFT: -1px; BORDER-LEFT: #324652 1px solid; WIDTH: 200px; BORDER-BOTTOM: #102736 1px solid; POSITION: relative
}*/

/* this is for IE 5.0
select.hide { visibility: hidden; }
/* End Support for the "iehover-fix.js" */
